@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    /* height: 100vh; */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* background-color: aqua; */
}

.container {
    display: grid;
    grid-template-columns: minmax(20%, 0.5fr) 80%;
    grid-template-rows: 150px 900px;
    height: fit-content;
    /* gap: 8px; */
}
/* header */
.header {
    background-color: rgb(255, 247, 163);
    z-index: 1;
    /* height: fit-content; */
    box-shadow: 0px 4px 10px;
    grid-row:1/2;
    grid-column: 2/3;
    padding: 1% 5% 0 4%;
}

img {
    
    width: 1.75rem;
}

.top {
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 2fr 1fr; */
}

.right, .left {
    display: flex;
    justify-content: space-around;
}

.searchbar {
    margin-left: 18px;
    width: min(30rem);
    height: 1rem;
    border-radius: 32px;
    padding: 16px;
    background-color: rgb(255, 251, 202);
}


.name {
    font-weight: 900;
    font-size: 1.25rem;
}

.topright.name {
    font-size: 1rem;
}

.topright {
    margin-left: 16px;
    margin-right: 16px;
}


.bot {
    display: flex;
    justify-content: space-between;
}

.right.bot > p {
    margin: 0;
}

.right.bot {
    align-items: center;

}

.left.bot {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 16px;
    width: 40%;
}

.left.bot > p {
    margin: 0 8px 0 8px;
}

.big {
    grid-row: 1/3;
    align-content: center;
    /* justify-content: center; */
}

button {
    background-color: #ffd60a;
    border: none;
    color: #000814;
    border-radius: 32px;
    width: 102px;
    height: 42px;
    margin: 0 16px 0 16px;
}

button:hover, a:hover {
    opacity: 75%;
    cursor: pointer;
}

/* SIDEBAR */
.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 8px;
}

img {
    margin: 4px;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000814;
}

a:visited {
    color: #000814;
}

li {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    padding: 8px;
}

.menu {
     height: fit-content;
     /* grid-template-rows: 0.25fr 1fr;*/
}

/* img {
    /* grid-column: 1/2; */


ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    /* grid-column: 2/3; */
}

.sidebar {
    display: grid;
    /* grid-template-columns: 1fr, 1fr; */
    grid-template-rows: 100px 350px 190px;
    z-index: 2;
    background-color: #ffd60a;
    color: #000814;
    grid-column: 1/2;
    grid-row: 1/3;
}

/* MAIN */

.main {
    background-color: rgb(255, 251, 202);
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, 1fr);
}

.principal {
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    padding: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8% 25% 25% 25%;
    gap: 32px;
}

.card {
    border-left: 10px solid #003566;
    border-radius: 8px;
    box-shadow: 1px 8px 8px;
    padding: 24px;
    height: fit-content;
    background-color: rgb(255, 247, 163);
}

.icon {
    display: flex;
    justify-content: right;
}

.icon > img {
    margin-left: 16px;
}

h1, h2, .name, h3 {
    color: #001d3d;
}

h3 {
    margin: 0;
}

.principal > h2 {
    margin-bottom: 0;
}

.principal > p {
    /* margin: 0; */
    grid-column: 1/3;
}

.orient {
    grid-column: 2/3;
}

.occident {
    grid-column: 1/2;
}

#less {
    grid-row: 2/3;
}

#easy {
    grid-row: 3/4;
}

#money {
    grid-row: 4/5;
}

/* SIDE */

.side {
    display: grid;
    height: fit-content;
    grid-template-rows: 70px 280px 70px 280px;
    padding-top: 16px;
}

#above {
    grid-row: 2/3;
}

.big-card {
    padding: 8px 32px 8px 32px;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 1px 2px 8px;
    background-color: rgb(255, 247, 163);
    
}

.big-card > p {
    margin: 0;
    padding: 16px 0 16px 0;
}

#below {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: repeat(8, 40px);
}

.pic {
    grid-column: 1/2;
    grid-row: span 2;
    margin: 16px 4px;
}

.nm {
    grid-column: 2/3;
}

.large {
    transform: scale(1.5); 
}

#below > .greet, #below > .nm {
    padding: 0;
}


.bot-border {
    border-bottom: 2px solid lightgrey;
}

#announce {
    grid-row: 1/2;
}

#trend {
    grid-row: 3/4;
}

#announce, #trend {
    margin-bottom: 0;
}